@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Cambay&display=swap%27");
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter select {
  width: 54%;
  height: 34px;
  border-radius: 10px;
  border: transparent;
  -webkit-box-shadow: 0px 0px 2px gray;
          box-shadow: 0px 0px 2px gray;
  color: #1bc0de;
  font-family: "Ubuntu", sans-serif;
}

.filter input {
  border-radius: 10px;
  border: transparent;
  -webkit-box-shadow: 0px 0px 2px gray;
          box-shadow: 0px 0px 2px gray;
  margin-left: 5px;
}

.filter #max {
  width: 6%;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.filter #min {
  width: 6%;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.filter ::-webkit-input-placeholder {
  color: #1bc0de;
  font-size: 14px;
  font-family: "Cambay", sans-serif;
}

.filter :-ms-input-placeholder {
  color: #1bc0de;
  font-size: 14px;
  font-family: "Cambay", sans-serif;
}

.filter ::-ms-input-placeholder {
  color: #1bc0de;
  font-size: 14px;
  font-family: "Cambay", sans-serif;
}

.filter ::placeholder {
  color: #1bc0de;
  font-size: 14px;
  font-family: "Cambay", sans-serif;
}

.filter button {
  background-color: #1bc0de;
  width: 3%;
  height: 31px;
  border-radius: 10px;
  border: transparent;
  -webkit-box-shadow: 0px 0px 2px gray;
          box-shadow: 0px 0px 2px gray;
  margin-left: 5px;
}

.filter button i {
  color: white;
}

/*------------------------ books------------------------*/
h1 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #1bc0de;
  text-decoration: underline;
  -webkit-text-decoration-color: #1bc0de;
          text-decoration-color: #1bc0de;
}

.books {
  background-color: #1bc0de;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: auto;
  text-align: left;
  color: black;
}

.grid-item .name {
  font-size: initial;
  color: white;
  -o-object-fit: contain;
     object-fit: contain;
}

.grid-item .name h3 {
  font-family: "Ubuntu", sans-serif;
}

.grid-item .name p {
  font-family: "Cambay", sans-serif;
}

.grid-item .price {
  text-decoration: underline;
}

.paragraphe {
  font-size: 12px;
  margin: auto;
}

.book {
  height: 202px;
  margin-right: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

/*-------------------------footer---------------------------*/
footer {
  background-color: #1bc0de;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

footer i {
  color: white;
  font-size: 30px;
}

footer h3 {
  padding-top: 0px;
  padding-left: 10px;
  color: white;
  font-size: 15px;
}

footer .footer {
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

@media screen and (max-width: 1200px) {
  .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .filter input {
    border-radius: 10px;
    border: transparent;
    -webkit-box-shadow: 0px 0px 2px gray;
            box-shadow: 0px 0px 2px gray;
    margin-left: 5px;
  }
  .filter #search {
    width: 54%;
    height: 30px;
  }
  .filter #max {
    width: 6%;
    height: 30px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .filter #min {
    width: 6%;
    height: 30px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .filter ::-webkit-input-placeholder {
    color: #1bc0de;
    font-size: 14px;
    font-family: "Cambay", sans-serif;
  }
  .filter :-ms-input-placeholder {
    color: #1bc0de;
    font-size: 14px;
    font-family: "Cambay", sans-serif;
  }
  .filter ::-ms-input-placeholder {
    color: #1bc0de;
    font-size: 14px;
    font-family: "Cambay", sans-serif;
  }
  .filter ::placeholder {
    color: #1bc0de;
    font-size: 14px;
    font-family: "Cambay", sans-serif;
  }
  .filter button {
    background-color: #1bc0de;
    width: 15%;
    height: 31px;
    border-radius: 10px;
    border: transparent;
    -webkit-box-shadow: 0px 0px 2px gray;
            box-shadow: 0px 0px 2px gray;
    margin-left: 5px;
  }
  .filter button i {
    color: white;
  }
  /*------------------------ books------------------------*/
  h1 {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    color: #1bc0de;
    text-decoration: underline;
    -webkit-text-decoration-color: #1bc0de;
            text-decoration-color: #1bc0de;
  }
  .books {
    background-color: #1bc0de;
  }
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding: 10px;
  }
  .grid-item {
    padding: 20px;
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    margin: auto;
    text-align: left;
    color: black;
  }
  .grid-item .name {
    font-size: initial;
    color: white;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .grid-item .name h3 {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
  }
  .grid-item .name p {
    font-family: "Cambay", sans-serif;
  }
  .paragraphe {
    font-size: 12px;
    margin: auto;
  }
  .book {
    width: 50%;
    height: 202px;
    margin-right: 30px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  /*-----------------------footer------------------------*/
  footer {
    display: none;
  }
}
/*# sourceMappingURL=gallery.css.map */